
@{
    ViewBag.Title = "IndexModule4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <style>
        .selectButton {
            left: 47%;
            top: 98%;
            transform: translate(-45%, -50%);
            z-index: 2;
            transition: all ease 0.35s;
            width: 7vw;
            height: 3vw;
            overflow: hidden;
        }

            .selectButton .infoIcon {
                display: none;
            }

            .selectButton[aria-expanded=true] {
                left: 5%;
                transform: translate(-80%,-10%);
                width: 3.5vw;
                height: 3.5vw;
            }

                .selectButton[aria-expanded=true] .infoText {
                    display: none;
                }

                .selectButton[aria-expanded=true] .infoIcon {
                    order: 1;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
    </style>
}
<h6 class="font-weight-bold text-center grey-text text-uppercase small mb-2 mt-3" style="font-size:1.5vw">Module 4</h6>
<h3 class="font-weight-bold text-center  pb-2" style="font-size:3.5vw">Annual Merit Salary Plannnig</h3>

<div class="row my-auto">
    <div class="col-1 "></div>
    <div class="col-3 my-auto mr-0">
        <canvas id="ChartProgresso"></canvas>
    </div>
    <div class="ml-0 col-5 my-auto">
        <div class="row rounded-pill pl-0 pt-2" style="background-color:#f2f2f2">
            <div class="col-6 mt-3 mb-0 my-auto text-right" style="font-size:1.5vw">
                <label>
                    <span class="font-weight-bold">Total Merit Budget:</span>
                </label>
                <br />
                <label>
                    <span class="font-weight-bold">Total Spend:</span>
                </label>
                <br />
                <label>
                    <span class="font-weight-bold">Difference:</span>
                </label>
            </div>
            <div class="col-6 mt-3 mb-0 my-auto text-left" style="font-size:1.5vw">
                <label>
                    <span class="">$ 100,000.00 MXN</span>
                </label>
                <br />
                <label>
                    <span class="">$ 5,000.00 MXN</span>
                </label>
                <br />
                <label>
                    <span class="">$ 95,000.00 MXN</span>
                </label>
            </div>

        </div>

    </div>
    <div class="col-1"></div>
</div>



@section scripts{
    <script>
        var data = {
            labels: [
              "Completado",
              "No completado"
            ],
            datasets: [
              {
                  data: [60, 40],
                  backgroundColor: [
                    "#B3DDA8",
                    "#F4F4F4"
                  ],
                  hoverBackgroundColor: [
                    "#B3DDA8",
                    "#F4F4F4"
                  ]
              }]
        };

        var promisedDeliveryChart = new Chart(document.getElementById('ChartProgresso'), {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                cutoutPercentage: 80,
                animation: {
                    animationRotate: true,
                    duration: 2000
                },
                legend: {
                    display: false
                },
                plugins: {
                    datalabels: {
                        display: false,
                    }
                }
            },
            plugins: [{
                beforeDraw: function (chart) {
                    var width = chart.chart.width,
                        height = chart.chart.height,
                        ctx = chart.chart.ctx;

                    ctx.restore();
                    var fontSize = (height / 50).toFixed(2);
                    ctx.font = fontSize + "em sans-serif";

                    ctx.textBaseline = "middle";

                    var text = "60%",
                        textX = Math.round((width - ctx.measureText(text).width) / 2),
                        textY = height / 2;

                    ctx.fillText(text, textX, textY);
                    ctx.save();
                }
            }]
        });
    </script>
    }