
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row rounded " style="background-color:#f2f2f2">
    <div class="col-2 mt-4 mb-4 avatar d-flex justify-content-center align-items-center ">
        <img src="~/Images/medline-logo.png" class="img-fluid rounded-circle z-depth-1" />
    </div>
    <div class="col-8 mt-4 mb-4 my-auto">
        <h1 class="font-weight-bold" style="font-size: 4.5vw">Welcome Erika</h1>
        <p class="text-muted" style="font-size: 2vw">
            Compensation and Benefits Manager
        </p>
    </div>
    <div class="col-2 mt-3 mb-4 avatar d-flex justify-content-center align-items-center ">
        <img src="~/Images/HR_system_LOGO.png" class="img-fluid rounded-circle z-depth-1" />
    </div>

</div>
<div class="row m-3">
    <div class="col-12 text-center">
        <h1>
            Select a module
        </h1>
    </div>
</div>


<div class="row">
    
    <div class="col-1 p-0">

    </div>
    <div class="col-md-2 p-2">
        <div class="card">
            <div class="card-body">
                        <div class="row">                            
                            <div class="col-12 text-center">
                                <i class="fas fa-check-double fa-3x blue-text"></i>

                                <p class="font-weight-bold my-3" style="font-size:1.2vw">Performance Review</p>

                                <p class="text-muted" style="font-size:1vw">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
            </div>
        </div>


        <div class="card collapse multi-collapse mt-4 text-center" id="colaps686">
            686
        </div>

        <div class="card collapse multi-collapse mt-1 text-center" id="colaps110">
            110
        </div>

        <div class="card collapse multi-collapse mt-1 text-center" id="colaps646">
            646
        </div>
    </div>
    <div class="col-md-2 p-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <i class="fas fa-clipboard-list fa-3x blue-text"></i>

                        <p class="font-weight-bold my-3" style="font-size:1.2vw">Talent Performance Planning</p>

                        <p class="text-muted" style="font-size:1vw">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card collapse multi-collapse mt-4 text-center" id="colaps686">
            686
        </div>

        <div class="card collapse multi-collapse mt-1 text-center" id="colaps110">
            110
        </div>

        <div class="card collapse multi-collapse mt-1 text-center" id="colaps646">
            646
        </div>
    </div>
    <div class="col-md-2 p-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <i class="fas fa-hand-holding-usd fa-3x blue-text"></i>

                        <p class="font-weight-bold my-3" style="font-size:1.2vw">Compensation Offer</p>

                        <p class="text-muted" style="font-size:1vw">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card collapse multi-collapse mt-4 text-center" id="colaps686">
            686
        </div>

        <div class="card collapse multi-collapse mt-1 text-center" id="colaps110">
            110
        </div>

        <div class="card collapse multi-collapse mt-1 text-center" id="colaps646">
            646
        </div>
    </div>
    <div class="col-md-2 p-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <i class="fas fa-money-check-alt fa-3x blue-text"></i>

                        <p class="font-weight-bold my-3" style="font-size:1.2vw">Annual Merit Salary Planning</p>

                        <p class="text-muted" style="font-size:1vw">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card collapse multi-collapse mt-4 text-center" id="colaps686">
            686
        </div>

        <div class="card collapse multi-collapse mt-1 text-center" id="colaps110">
            110
        </div>

        <div class="card collapse multi-collapse mt-1 text-center" id="colaps646">
            646
        </div>
    </div>
    <div class="col-md-2 p-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <i class="fas fa-square-root-alt fa-3x blue-text"></i>

                        <p class="font-weight-bold my-3" style="font-size:1.2vw">Formula Bonus</p>

                        <p class="text-muted" style="font-size:1vw">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card collapse multi-collapse mt-4 text-center" id="colaps686">
            686
        </div>

        <div class="card collapse multi-collapse mt-1 text-center" id="colaps110">
            110
        </div>

        <div class="card collapse multi-collapse mt-1 text-center" id="colaps646">
            646
        </div>
    </div>
    <div class="col-1 p-0">

    </div>
</div>




