
@{
    ViewBag.Title = "MyInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">Personal Info</h2>
<hr />
<div class="col-12">
    <dl class="dl-horizontal">
        <dt>
            Employee #:
        </dt>

        <dd>
            90145
        </dd>

        <dt>
            Name:
        </dt>

        <dd>
            David QU
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            IT
        </dd>

        <dt>
            Position
        </dt>

        <dd>
            IT Developer
        </dd>

        <dt>
            Plant
        </dt>

        <dd>
            Mexicali
        </dd>
        <dt>
            Start date
        </dt>

        <dd>
            03/04/2019
        </dd>
        <dt>
            Manager
        </dt>

        <dd>
            Eduardo Villa
        </dd>
        <dt>
            2nd Level Manager
        </dt>

        <dd>
            Mario Chavez
        </dd>

    </dl>

</div>



