
@{
    ViewBag.Title = "NoUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row rounded" style="background-color:#f2f2f2">
    <div class="col-2 mt-4 mb-4 avatar d-flex justify-content-center align-items-center ">
        <img src="~/Images/medline-logo.png" class="img-fluid rounded-circle z-depth-1" />
    </div>
    <div class="col-8 mt-4 mb-4 my-auto">
        <h1 class="font-weight-bold" style="font-size: 4.5vw">Ups!</h1>
        <p class="text-muted" style="font-size: 2vw">
           Looks like your user is not in the system
        </p>
    </div>
    <div class="col-2 mt-3 mb-4 avatar d-flex justify-content-center align-items-center ">
        <img src="~/Images/HR_system_LOGO.png" class="img-fluid rounded-circle z-depth-1" />
    </div>

</div>
